

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 90vh;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding: 10px;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #226724;
}
.one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #226724;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    margin-inline: 20px;
}

.land{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}
.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #226724;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}
.button:hover{
    background-color: #226724;
    border-color: #1b1f2326;
    transition-duration: 0.1s;}
table {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 12px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #000;
    color: white;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin-top: 30px;
}
.button2 {
    color: #225522;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 2px 4px;
}
.button2:hover{
    background-color: #93d396;
}
h2 {
    font-size: 60px;
    font-weight: 600;
    color: darkgreen;
    background-clip: text;
    text-align: center;
}
.custom-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    margin: 0;
    color: white;
}

.green-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.grey-button {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.green-button:hover, .grey-button:hover {
    opacity: 0.8;
}

.custom-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.custom-footer a {
    color: #4CAF50;
    text-decoration: none;
}

.custom-footer a:hover {
    text-decoration: underline;
}
.buttons{
    display: block;
    text-decoration: none;
}
.table-div{
    display: flex;
    align-items: flex-start;
    min-height: 80vh;
}
.success-message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #225522;
    font-weight: bolder;
}
.fail-message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bolder;
}



