*{
    margin: 0;
    padding: 0;
}
body{
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #225522, #93d396);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    margin-inline: 20px;
}

.land{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #226724;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}
.button:hover{
    background-color: #226724;
    border-color: #1b1f2326;
    transition-duration: 0.1s;}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    color: black;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5px
}
.button2 {
    color: #225522;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.button2:hover{
    background-color: #93d396;
}
h2 {
    font-size: 40px;
    font-weight: 600;
    color: darkgreen;
    background-clip: text;
    text-align: center;
}